.home {
  section {
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
  }
  @include breakpoint(xlarge down) {
    h1,
    h2 {
      text-align: center;
    }
  }

  &__slider {
    .ms-slide-bgcont {
      z-index: -1;
      position: relative;
      width: 100%;
      height: 180px;
      display: block;
      background-size: cover;
      @include overlay;

      &:after {
        background-color: $brown-transparent;
      }

      &:after {
        background-color: $blue-transparent;
      }
    }

    .home-slider-heading {
      font-family: $body-font-family;
      font-size: 48px;
      text-align: left;
      line-height: 1.15;
    }

    .home-slider-heading-mobile {
      font-family: $body-font-family;
      font-size: 33px;
      color: $light-blue;
      text-align: left;
      line-height: 1.5;
      margin-top: 20px;
      font-weight: 700;
      text-transform: uppercase;
    }

    .home__slider-description-mobile {
      line-height: 1.5;
      color: $secondary-color;
      margin: 0;
    }

    button {
      margin-top: 30px;
      width: 100%;
    }
  }

  .main-wrap {
    padding: 0;
  }

  .waves-background {
    background-image: url("../images/waves.svg");
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__about {
    padding: 30px;
    h2{
      text-align: left;
      @include breakpoint(medium down) {
        text-align: center;
      }
    }

    &-image-holder {
      display: flex;
      align-items: center;
    }

    &-image {
      border-radius: 50%;
      display: block;
      background-size: cover;
      width: 240px;
      height: 240px;
      text-align: center;
      margin: 20px auto 0;
      @include breakpoint(large down) {
        margin: 0 auto;
      }
    }

    &-button {
        text-align: center;
    }

    button {
      margin-top: 30px;
    }
  }

  &__program {
    &-link-split {
      margin-top: 60px;
      color: $white;
      text-align: center;
    }

    &-block {
      height: 500px;
      background-size: cover;
      position: relative;
      color: white;
      z-index: 1;

      &:hover {
        color: $dark-blue;
        transition: 0.4s all;

        &:after {
          background-color: $green-transparent;
        }
      }
      @include overlay;

      &:after {
        background-color: $brown-transparent;
        z-index: -1;
      }
    }

    &-icon {
      width: 107px;
      margin: 120px auto 0;
    }

    &-title {
      text-align: center;
      font-size: 1.2em;
      margin: 2em 0;
    }

    &-link {
      a {
        text-align: center;
        color: $white;
        font-weight: 700;
      }
    }
  }

  &__location {
    &-card {
      position: relative;
      margin: 20px 0;
      height: 340px;
      transition: all 0.4s;
      @include breakpoint(medium down) {
        box-shadow: $dropshadow;
      }

      &:hover {
        transition: all 0.4s;
        box-shadow: $dropshadow;
        @include breakpoint(medium down) {
          box-shadow: $dropshadow-dark;
        }

        .link {
          transition: all 0.4s;
          color: $primary-color;
        }
      }

      .image {
        width: 100%;
        height: 170px;
        float: left;
        background-size: cover;
        background-repeat: no-repeat;
      }

      .content {
        padding: 20px;
        float: left;

        .location {
          color: $light-blue;
          font-weight: 700;
          width: 100%;
          font-size: 1.1em;
        }

        .title {
          font-weight: 700;
          width: 100%;
          font-size: 0.9em;
        }

        .description {
          width: 100%;
          height: 3em;
          overflow: hidden;
        }

        .link {
          font-weight: 700;
          font-size: 0.9em;
          transition: all 0.4s;
        }
      }
    }
  }

  &__insurance {
    text-align: center;

    &-description {
      text-align: left;
      margin: 17px 0;
    }

    button {
      margin-top: 30px;
    }

    .provider-gallery {
      background-color: $light-blue;
      padding: 40px 0;
      margin-top: 50px;
      @include breakpoint(medium down) {
        text-align: center;
      }

      img {
        opacity: 0.7;
        padding: 15px;
        @include breakpoint(medium down) {
          padding: 20px 30px;
        }
      }
    }
  }

  &__leadership {
    background-image: url("../images/home-bio-back.png");
    padding: 30px;

    h3 {
      color: white;
      font-weight: 700;
    }

    div {
      color: white;
    }

    .ms-staff-carousel.ms-round .ms-slide-bgcont {
      border: solid 8px rgba(230, 230, 230, 0.0);
    }
  }

  &__blog {

    margin-top: 30px;

    //news is in content
    .university-park {
      text-align: center;

      .date,
      .description {
        text-align: left;
        font-size: 1emf;
      }

      .description {
        height: 105px;
        overflow: hidden;
      }

      .date {
        font-weight: 700;
      }

      .read-more {
        display: none;
      }

      button {
        margin: 30px 0;
      }

      .recognized-by {
        margin-top: 20px;
      }
    }
  }
}
