.home {
  section {
    width: 100%;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 30px;
  }

  .main-wrap {
    padding: 0;
  }

  &__about {
    &-image {
      border-radius: 50%;
      display:block;
      background-size:cover;
      height: 250px;
      width: 250px;
    }

    &-headline {
      text-align: center;
    }

    &-paragraph {

    }

    button {
      margin-top: 30px;
    }
  }

  &__program {
    &-link-split {
      height: 400px;
      margin-top: 30px;
      color: $white;
      text-align: center;
    }

    &-block {
      height: 575px;
      background-size: cover;

    }

    &-icon {
      width: 107px;
      margin: 0 auto;
      margin-top: 200px;
    }

    &-title {
      text-align: center;
      font-size: 1.2em;
      margin: 2em 0;
    }

    &-link {
      a {
      text-align: center;
      color: $white;
      font-weight: 700;
      }
    }
  }
}
