.button,
.footer .footer-form .submit-wrap input,
button {
  color: $white;
  background-color: $primary-color;
  padding: 14px 60px;
  transition: all 0.4s;
  cursor: pointer;
  font-weight: 700;
  font-size: .8em;
  letter-spacing: 2px;
  text-transform: lowercase;
  @include breakpoint(medium down) {
    width: 100%;
    padding: 20px 0;
    font-size: 1.1em;
  }

  &:hover {
    color: $secondary-color;
    transition: all 0.4s;
  }
}
