.off-canvas-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}

.entry-content {
  a[href^="tel:"] {
    color: $dark-gray;
    text-decoration: none;
  }
}

.main-wrap {
  @include grid-row();
  @include breakpoint(small) {
    padding: 0 15px;
  }
}

.featured-hero {
  height: 1067px;
  position: relative;
  @include overlay;
  @include breakpoint(medium) {
    height: 200px;
  }

  &:after {
    background-color: $light-brown-transparent;
  }
}

.main-content {
  // default 2 column
  article.page {
    float: left;
  }
  // 1 column
  .full-width.main-wrap & {
    @include breakpoint(medium) {
       @include grid-column(12);
    }
  }
  // 2 column sidebar left
  .sidebar-left.main-wrap & {
    @include breakpoint(large) {
       @include grid-column(9);
      @include grid-col-pos(3);
    }
  }
}

.sidebar {
  // default 2 column
  @include grid-column(12);
  @include breakpoint(medium) {
     @include grid-column(4);
  }
  // 2 column sidebar left
  .sidebar-left.main-wrap & {
    @include breakpoint(medium) {
       @include grid-column(3);
      @include grid-col-pos(-9);
    }
  }
}
//home slider bullets

.ms-container {
  .ms-bullets.ms-dir-h {
    right: inherit;
    left: 8.5%;

    .ms-bullet {
      background-image: url('');
      border-radius: 50%;
      border: 1px solid $white;
    }

    .ms-bullet-selected {
      background-color: $white;
    }
  }
}

.news {
  .card {
    transition: 0.4s all;
    border: 0;
    height: 470px;
    background-color: $light-brown;

    &:hover {
      .read-more {
        color: $primary-color;
        transition: 0.4s all;
      }
    }

    .post-image {
      height: 191px;
      width: 100%;
      display: block;
      background-size: cover;
    }

    .author-bar {
      background-color: $dark-blue;
      padding: 5px 20px;
      color: $white;
    }

    .content {
      padding: 0 20px 20px;

      .description {
        font-size: 1em;
      }

      .read-more {
        font-weight: 700;
      }
    }
  }
}

.post__list-single {
  border: 1px solid $white-gray;
  margin-bottom: 2em;
  cursor: pointer;

  h2 {
    padding: 0;
    @include underline;
    display: inline-block;
    color: $primary-color;
    transition: all 0.45s;
  }

  &:hover {
    .post-image {
      background-position: center;
    }

    h2 {
      color: $light-gray;

      &:after {
        transform-origin: right;
        transform: scaleX(1);
      }
    }
  }

  .post-image {
    background-position: right;
    object-fit: cover;
    display: block;
    transition: all 0.45s;
    @include breakpoint(small) {
      height: 160px;
    }
    @include breakpoint(large) {
      height: 320px;
    }
  }

  .content {
    padding: 2em;
  }
}

.off-canvas-content {
  @include breakpoint(medium down) {
    float: none;
  }
  @include breakpoint(large) {
    float: none;
  }
}

#mobile-logo {
  padding-bottom: 25px;
  padding-top: 30px;

  img {
    display: block;
    margin: auto;
  }
}

div.ms-bullet.ms-bullet-selected {
  background: $primary-color;
}

.updated {
  margin-bottom: 15px;
}
//master slider
.master-slider {
  a.ms-btn {
    transition: all 0.4s;
    background-color: $primary-color;
    font-weight: 700;
    color: $white;
    background-color: $primary-color;
    padding: 14px 60px !important;
    transition: all 0.4s;
    cursor: pointer;
    letter-spacing: 2px;
    text-transform: lowercase;
    width: unset !important;

    &:hover {
      transition: all 0.4s;
      color: $secondary-color;
      background-color: $primary-color;
    }
  }
}
  .ms-staff-carousel .ms-nav-next,
  .ms-staff-carousel .ms-nav-prev {
    background-image:url("../images/staff-arrows.png") !important;
  }

//forms
body .footer .footer-form .submit-wrap input {
  font-size: 14px;
}

.nf-form-fields-required,
.ninja-forms-req-symbol {
  color: $primary-color;
  position: relative;
}

.ninja-forms-req-symbol,
body .nf-error-msg,
span.ninja-forms-req-symbol {
  color: $primary-color;
}

.nf-error-field-errors {
  display: none;
}

.nf-error-required-error {
  position: absolute;
}

.nf-form-fields-required {
  padding: 5px 0;
}
