// Navigation breakpoints

.call-bar,
.mobile-bar,
.site-mobile-title,
.title-bar-left,
.title-bar-right {
  @include hide-for(large);
}


.desktop-menu,
.site-navigation,
.top-bar-left {
  @include show-for(large);
}
// Site title

.site-mobile-title a {
  // placeholder
}

.site-header {
  width: 100%;
  background-color: $brown-transparent;
  z-index: 10;
  position: fixed;
  top: 0;
  left: 0;
  //height: $header-top-length;
  @include breakpoint(xlarge down) {
    height: auto;
    border-bottom: $white-gray;
  }
}

.call-bar-right {
  float: right;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 21px;

  img {
    float: right;
    width: 27px;
    height: 27px;
    margin-top: 2px;
    margin-left: 10px;
  }

  h6 {
    float: right;
    font-size: 1.6em;
    font-weight: 700;
    color: $light-green;
    padding: 5px 0 0 10px;
  }
}
// main styling for all top right nav
// construction happens in navigation.php, custom walker classes, and header
//mobile-menu

.site-title-bar {
  background-color: $white;
  color: $white;
  width: 100%;
}

li,
ul {
  cursor: pointer;
}
// Anchor fix for sticky top menu hiding content

#acd,
#adm,
#adv,
#cul,
#dog,
#exp,
#fam,
#iop,
#med,
#rec,
#staff-top {
  padding-top: 200px;
  margin-top: -200px;
  -webkit-background-clip: content-box;
  background-clip: content-box;
}
//desk-top

.site-navigation {
  color: $white;
  z-index: 1;
  top: 0;
  background-color: $brown-transparent;
  width: 100%;
  position: fixed;
  left: 0;
  z-index: 100;
  padding: 0;

  .top-bar {
    float: left;
    width: 100%;
    padding: 0;
  }

  .top-bar-title {
    padding: 0;

    img {
      width: 100%;
      padding: 5px;
      margin-left: 5px;
    }
  }

  .top-bar-left {
    float: left;
    z-index: 20;
    width: 25%;
  }

  .top-bar-right {
    float: right;
    width: 75%;
  }

  .top-bar-r {
    font-size: 0.8em;
    float: right;

    .current_page_item a {
      color: $primary-color;
      @include underline;
      position: relative;
      display: inline-block;

      &:after {
        transform-origin: right;
        transform: scaleX(1);
      }
    }

    li {
      &:before {
        color: $white;
        float: left;
        margin: 7px 0 0;
        width: 1em;
        content: '\25AA';
        display: inline-block;
      }

      a {
        position: relative;
        display: inline-block;
        @include underline;
        cursor: pointer;

        &:hover {
          &:after {
            transform-origin: right;
          }
        }
      }

      &:first-child:before {
        display: none;
      }
    }
  }

  .program-bar-r {
    text-align: right;
    width: 100%;
    height: 30px;
    background-color: transparent;
    position: relative;
    margin-right: -20px;

    li.top-level:nth-child(2) {
      border-right: 0;
    }

    .top-level {
      font-size: 0.8em;
      font-weight: 400;
      float: left;
      line-height: 15px;
      text-align: center;
      width: 109px;
      position: initial;
      text-transform: uppercase;
      display: flex;
      align-items: flex-end;
      justify-content: center;
      height: 50px;
      margin-top: 30px;
      padding-bottom: 30px;

      &.opened a,
      &:hover a {
        font-weight: 700;
        @include primary-diamond;

        &::after {
          content: "";
          height: 10px;
          width: 100%;
          margin: 5px 0 0;
          display: block;
          position: absolute;
          background-repeat: no-repeat;
          background-size: contain;
        }
      }

    &:hover .sub-menu-0 {
      max-height: 450px;
      transition: 0s all;
      opacity: 1;
      visibility: visible;

    }

      a {
        color: $white;
        transition: 0s all;
        width: 100%;
        position: relative;
      }

      .sub-menu-0 {
        top: 80px;
        opacity:0;
        visibility: hidden;
        right: auto;
        float: left;
        left: 0;
        width: 100%;
        position: absolute;
        background-color: #fefefe;
        color: #877B77;
        z-index: 6;
        text-align: left;
        background-color: $white;
        color: $secondary-color;
        z-index: 6;
        margin-left: 0;
        text-align: left;
        -webkit-box-shadow: $dropshadow;
        -moz-box-shadow: $dropshadow;
        box-shadow: $dropshadow;
        transition: 0s all;

        .sub-menu-items {
          float: left;
          padding: 30px 0;
          width: 40%;
        }

        a {
          color: $secondary-color;
          font-size: 1.1em;
          line-height: 2.5em;
          width: 100%;
          position: relative;
          display: inline-block;
          padding: 0 30px;
          text-transform: none;
          font-weight: 400;

          &:after {
            display: none;
          }

          &:hover {
            opacity: 1;
            background-color: $pale-blue;
            font-weight: 700;
          }
        }

        & li.menu-item-has-children a {
          @include down-arrow;

          &:after {
            margin-top: 14px;
          }
        }

        .sub-menu-closer {
          @include grid-column(2);
          display:none;
          cursor: pointer;
          float: left;
          width: 20px;
          height: 20px;
          position: absolute;
          right: 30px;
          top: 30px;
          background-repeat: no-repeat;
          -webkit-background-size: contain;
          background-size: contain;
          background-image: url("../images/close.png");
          -webkit-transition: all 0s;
          transition: all 0s;

          &:hover {
            opacity: 1;
          }
        }

        .sub-menu-label {
          @include grid-column(5);
          float: left;
          margin-top: -16px;

          .sub-menu-title {
            font-size: 1.6em;
            font-weight: 300;
            text-transform: uppercase;
          }

          .sub-menu-description {
            font-size: 1em;
            font-weight: 400;
          }
        }

        .sub-menu-1 {
          position: static;

          .sub-menu-items {
            position: absolute;
            left: 40%;
            top: 0;
            width: 250px;
            display: none;
            background-color: $pale-blue;
            padding: 30px;
            height: 100%;
          }

          li {
            a {
              padding: 0 10px 10px 0;
              border-bottom: none;
              float: left;
              font-size: 0.94em;
              line-height: 1.45em;
              transition: all 0.45s;
              float: none;
              background-color: $pale-blue;

              &:after {
                display: none;
              }
            }
          }
        }

        .menu-item-has-children:hover {
          .sub-menu-items,
          .sub-menu-items:hover {
            display: block;
            opacity: 1;
            background-color: $pale-blue;
          }
        }
      }
    }
  }
}

.site-desktop-title a {
  font-weight: bold;
}
// Mobile menu

.mobile-bar {
  background-color: $brown-transparent;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  right: 0;
  top: 0;
  left: 0;
  padding: 10px;

  &__left {
    float: left;
  }

  &__right {
    float: right;
  }

  .custom-logo-link img {
    width: 200px;
  }

  .menu-icon {
    width: 40px;

    &:after {
      box-shadow: 0 10px 0 #fefefe, 0 20px 0 #fefefe;
      height: 3px;
      margin-top: -4px;
    }
  }

  .call {
    width: 27px;
    height: 27px;
    margin-right: 20px;
  }
}

.mobile-menu {
  display: none; // prevents repaint caused by JS hiding menu onload
}

.mobile-off-canvas-menu {
  margin-top: 10px;
  background-color: $white;
  font-size: 1em;

  .menu.nested {
    background-color: $pale-blue;
    font-size: 0.9em;
    margin-left: 0;
    padding-left: 1em;
  }

  .menu .active > a {
    color: $secondary-color;
  }
}

.mobile-menu,
.mobile-off-canvas-menu {
  float: right;
  // current page
  .current_page_item > a {
    font-weight: bold;
  }

  .is-accordion-submenu-parent[aria-expanded='true'] > a::after {
    transform: rotate(135deg);
  }
}
// Tablet and desktop menu

.desktop-menu {
  // submenu arrow
  li.is-dropdown-submenu-parent {
    > a::after {
      border-color: $accordionmenu-arrow-color transparent transparent;
    }

    &.active > a::after {
      border-color: $menu-item-color-active transparent transparent;
    }
  }
}
// WP post navigation

.post-navigation {
  @include clearfix;
}

.nav-previous {
  float: left;
  padding: 20px 0;
  transition: all 0s;
  max-width: 300px;
  font-weight: 700;

  a {
    color: $primary-color;
  }

  &:hover {
    a {
      color: $light-gray;
    }
  }
}

.nav-next {
  padding: 20px 0;
  float: right;
  transition: all 0s;
  max-width: 300px;
  text-align: right;
  font-weight: 700;

  a {
    color: $primary-color;
  }

  &:hover {
    a {
      color: $light-gray;
    }
  }
}

#full-screen-search {
  display: none;
  transition: all 0.5s linear;
}

#full-screen-search.open {
  display: block;
}
